# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.env
.venv
venv/
env/
ENV/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# =========================
# PyTorch / ML
# =========================
*.onnx
*.h5
*.npz
**/epoch*.pt

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# Logs / outputs
# =========================
logs/
*.log
wandb/
mlruns/
tensorboard/
lightning_logs/

# =========================
# Data / artifacts
# =========================
data/
datasets/
checkpoints/
outputs/
runs/
artifacts/
*.pgn
./final_experiments_for_paper/experiment2_style_model/flattened_style_jsonl/
./final_experiments_for_paper/experiment2_style_model/splits/
./final_experiments_for_paper/experiment2_style_model/pairs_v1/
./final_experiments_for_paper/experiment2_style_model/pairs_v1/
./final_experiments_for_paper/experiment2_style_model/pairs_*/
./final_experiments_for_paper/experiment2_style_model/training_models/
./final_experiments_for_paper/experiment2_style_model/pairs_v1_cached/
./final_experiments_for_paper/experiment2_style_model/pairs_v2_cached/
src/grandmaster_dpo/train/style_embeddings_for_gms/study_supervisor/runs/
./final_experiments_for_paper/experiment2_style_model/eval_outputs/**/embedding_cache/
./final_experiments_for_paper/experiment2_style_model/eval_outputs/**/generated_eval_cache/
./final_experiments_for_paper/experiment2_style_model/eval_outputs/**/generated_eval_cache/*
./final_experiments_for_paper/experiment3/depth_study_validation_results/

# =========================
# OS / editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# MyPy / type checking
# =========================
.mypy_cache/
.pytype/
.pyre/

# =========================
# Secrets
# =========================
*.env
.env.*
*.pem
*.key
*.crt
secrets/
